@import "nullstyle.scss";
$width: 950px;
$p: 4%;
body{
    color: white;
    background-image: url('D:/Course Project/IMG/bg-body.gif');
    font-family: 'Open Sans', sans-serif;
}
#menu-mobile {
        /* чекбокс скрыт */
        display: none;
        }
        .main-menu {
        /* пункты меню скрыты */
        display: none;
        padding: 0;
        margin: 0;
        }
        .main-menu li {
        /* пункты меню расположены вертикально */
        /* каждый имеет ширину 100% */
        font-size: 16px;
        font-weight: 700;
        display: block;
        width: 100%;
        }
        .main-menu a {
        /* немного стилизуем ссылки */
        display: block;
        border-bottom: 1px solid #9457EB;
        color: white;;
        
        padding: .5em;
        text-decoration: none;
        }
        .main-menu a:hover {
        text-decoration: underline;
        }
        /*****************************************/
        
        .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 20px;
        background-image: url('D:/Course Project/IMG/bg-body.gif');
        color: #fff;
        width: 20%;
        }
        #menu-mobile:checked + nav .toggle-button{
        color: #FFF7B2;
        }
        #menu-mobile:checked + nav .main-menu {
        /* когда чекбокс активен меню становится видимым */
        display: block;
        }
        .navigation {
}
.navigation__list {
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: flex-end;
}
.item{
    padding: 5px $p; 
    a{
        color: white;
    }
}  
.item1{
    padding: 5px $p;
    background-image: url('D:/Course Project/img/Button.jpg'); 
    a{
        color: white;
    }
}
.heading {
    margin: 0 auto;
    max-width: $width;
    background-color: #FDF0DF;
    display: flex;
    flex-wrap: wrap;
}
.heading__item {
    width: 100%;
    
}
.Zooimage { 
    padding: 0 0 20px 0;
    width: 100%;
}
.put {
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 5px 0 5px;
    background-color: #EB4C42;
    font-size: 20px;
    a{
        color: white;
    }
}

.heading__himage {
    
    img{
        width: 100%;
    }
}
.stick{
   max-width: $width;
   margin: 0 auto;
   background-image: url('D:/Course Project/IMG/interface.gif');
   background-repeat: no-repeat ;
   background-size: 950px;
   min-height: 60px;
   text-align: center;
   padding: 25px 0;
   font-size: 18px;
   color: yellow;
}
.secondBlock {
    margin: 0 auto;
    max-width: $width;
    background-image: url('D:/Course Project/IMG/Bg-1.gif');
   
}
.Words {
    font-size: 20px;
    color: purple;
    padding: 2% 0 0 0;
    text-align: center;
}
.Pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Words__item {
    text-align: center;
    padding: 1% 0 0 0;
}
.item__picture {
    margin: 0 0 5% 0;
}
.item__picture :hover {
    border: 5px solid #F4CA16;
}
.item__text {
    padding: 1% 0 2% 0;
    color: purple;
    font-size: 16px;
}
.Information {
    display: flex;
    max-width: $width;
    border: 1 solid #D2D5CA;
    margin: 0 auto;
    background-color: #FDF0DF;
}
.Information__events {
    max-width: 30%;
    h2{
        color: purple;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0;
    }
}
.Information__news {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 0 5% 2%;
    color: black;
    line-height: 25px;
    padding: 5px 5px 5px 5px;
    border: 2px ridge #800080;
    h3{
       color: purple;

    }
}
.Information__blog {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 5px 5px 5px;
    max-width: 70%;
    margin: 4% 1% 3% 2%;
    color: black;
    border: 2px ridge #800080;
    line-height: 18px;
    
    h2{
        color: purple;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0; 
    }
    h3{
        color: green;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0;
    }
    p{
       font-weight: 500;
       margin: 3% 0; 
    }
    img{
        width: 100%

    }
}
        
        @media screen and (min-width: 880px) {
        .toggle-button {
        /* label скрыт */
        display: none;
        }
        .main-menu {
        display: block;
        margin: 0 auto;
        padding: 0 15%;
        background-image: url('D:/Course Project/IMG/bg-body.gif');
        height: 60px;
        }
        
        .main-menu li {
        /* теги <li> расположены в ряд */
        width: calc(100% / 4);
        text-align: center;
        display: inline-block;
        margin-right: -4px;
        padding-top: 10px;
        }
        .main-menu a {
        display: inline-block;
        margin-right: -4px;
        font-size: 18px;
        font-weight: 700;
        background-image: url('D:/Course Project/IMG/bg-body.gif');
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        border-bottom: 0;
        }
        
.navigation {
}
.navigation__list {
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: flex-end;
}
.item{
    padding: 5px $p; 
    a{
        color: white;
    }
}  
.item1{
    padding: 5px $p;
    background-image: url('D:/Course Project/img/Button.jpg'); 
    a{
        color: white;
    }
}
.heading {
    margin: 0 auto;
    max-width: $width;
    background-color: #FDF0DF;
    display: flex;
    flex-wrap: wrap;
}
.heading__item {
    width: 300px;
    
}
.Zooimage { 
    padding: 0 0 20px 0;
}
.put {
    border: 1px solid #000;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 5px 0 5px;
    background-color: #EB4C42;
    font-size: 20px;
    a{
        color: white;
    }
}

.heading__himage {
    max-width: 580px;
    img{
        width: 100;
    }
}
.stick{
   max-width: $width;
   margin: 0 auto;
   background-image: url('D:/Course Project/IMG/interface.gif');
   background-repeat: no-repeat ;
   background-size: 950px;
   min-height: 60px;
   text-align: center;
   padding: 25px 0;
   font-size: 18px;
   color: yellow;
}
.secondBlock {
    margin: 0 auto;
    max-width: $width;
    background-image: url('D:/Course Project/IMG/Bg-1.gif');
   
}
.Words {
    font-size: 20px;
    color: purple;
    padding: 2% 0 0 0;
    text-align: center;
}
.Pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Words__item {
    text-align: center;
    padding: 1% 0 0 0;
}
.item__picture {
    margin: 0 0 5% 0;
}
.item__picture :hover {
    border: 5px solid #F4CA16;
}
.item__text {
    padding: 1% 0 2% 0;
    color: purple;
    font-size: 16px;
}
.Information {
    display: flex;
    max-width: $width;
    border: 1 solid #D2D5CA;
    margin: 0 auto;
    background-color: #FDF0DF;
}
.Information__events {
    max-width: 30%;
    h2{
        color: purple;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0;
    }
}
.Information__news {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 0 5% 2%;
    color: black;
    line-height: 25px;
    padding: 5px 5px 5px 5px;
    border: 2px ridge #800080;
    h3{
       color: purple;

    }
}
.Information__blog {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 5px 5px 5px;
    max-width: 70%;
    margin: 4% 1% 3% 2%;
    color: black;
    border: 2px ridge #800080;
    line-height: 18px;
    
    h2{
        color: purple;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0; 
    }
    h3{
        color: green;
        font-family: coursive;
        font-size: 20px;
        text-align: center;
        margin: 3% 0 3% 0;
    }
    p{
       font-weight: 500;
       margin: 3% 0;
       line-height: 25px; 
    }
    img{
        width: 100%

    }
}
}

    


